<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
<body class="xender-resume-body">

<!-- Page Container -->
<div class="resume-container col-md-12" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="resume-grid-main row col-md-12">
  
    <!-- Left Column -->
    <div class="resume-left-grid grid-body-left col-md-4">
    
      <div class="resume-left-card">
        <div class="xender-avatar-container">
            <div class="card" style="width:100%">
                <img class="card-img-top img-fluid" src="../../assets/profile-pic.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                <h2 class="card-title">Suprotim Mukherjee</h2>
            </div>
          </div>
        </div>
        <div class="basic-info-container icon-color padding-rf">
          <p><i class="fa fa-briefcase fa-fw icon-color icon-large  icon-margin-right"></i>Senior System Engineer</p>
          <p><i class="fa fa-home fa-fw icon-color icon-large icon-margin-right"></i>Bangalore, India</p>
          <p><i class="fa fa-envelope fa-fw icon-color icon-large icon-margin-right"></i>suprotim6@gmail.com</p>
          <p><i class="fa fa-phone fa-fw icon-color icon-large icon-margin-right"></i>8420993599</p>
          <hr>

          <p class="resume-info-header-large"><b><i class="fa fa-asterisk fa-fw"></i>Skills</b></p>
          <p>Angular</p>
          <div class="progress">
            <div class="progress-bar progress-bar-resume" role="progressbar" aria-valuenow="95"
            aria-valuemin="0" aria-valuemax="100" style="width:95%">
              95%
            </div>
          </div>
          <p>Html, Css, Bootstrap</p>
          <div class="progress">
            <div class="progress-bar progress-bar-resume" role="progressbar" aria-valuenow="90"
            aria-valuemin="0" aria-valuemax="100" style="width:90%">
              90%
            </div>
          </div>
          <p>Nodejs</p>
          <div class="progress">
            <div class="progress-bar progress-bar-resume" role="progressbar" aria-valuenow="70"
            aria-valuemin="0" aria-valuemax="100" style="width:70%">
              70%
            </div>
          </div>
          <p>SQL</p>
          <div class="progress">
            <div class="progress-bar progress-bar-resume" role="progressbar" aria-valuenow="60"
            aria-valuemin="0" aria-valuemax="100" style="width:60%">
              60%
            </div>
          </div>
          <p>MongoDb</p>
          <div class="progress">
            <div class="progress-bar progress-bar-resume" role="progressbar" aria-valuenow="50"
            aria-valuemin="0" aria-valuemax="100" style="width:50%">
              50%
            </div>
          </div>
          <br>

          <p class="resume-info-header-large"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>Bengali</p>
          <div class="progress" title="100% Complete">
            <div class="progress-bar progress-bar-resume" role="progressbar" aria-valuenow="100"
            aria-valuemin="0" aria-valuemax="100" style="width:100%">
            </div>
          </div>
          <p>English</p>
          <div class="progress" title="90% Complete">
            <div class="progress-bar progress-bar-resume" role="progressbar" aria-valuenow="90"
            aria-valuemin="0" aria-valuemax="100" style="width:90%">
            </div>
          </div>
          <p>Hindi</p>
          <div class="progress" title="60% Complete">
            <div class="progress-bar progress-bar-resume" role="progressbar" aria-valuenow="60"
            aria-valuemin="0" aria-valuemax="100" style="width:60%">
            </div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="resume-right-grid col-md-8">
    
      <div class="resume-container-wrk-exp grid-body icon-color">
        <h2 class="wrk-exp-header-text text-grey"><i class="fa fa-suitcase fa-fw icon-color icon-margin-right"></i>Work Experience</h2>
        <div class="exp-container">
          <h5 class="exp-header text-grey info-opacity"><b>Full Stack Developer / Infosys</b></h5>
          <h6 class="exp-description"><i class="fa fa-calendar fa-fw icon-margin-right"></i>Jun 2021 - <span class="exp-tag-round">Current</span></h6>
          <p class="info-text-black">Currently working for a world-renowned logistic company. 
            Implemented finding store and distance guidance system with Here-map, also implemented JWT authentication on API access.
            Tech used : Nodejs as backend, Angular as frontend, Mongodb as database.
          </p>
          <hr>
        </div>
        <div class="exp-container">
          <h5 class="exp-header text-grey info-opacity"><b>Full Stack Developer / TalentQuest</b></h5>
          <h6 class="exp-description"><i class="fa fa-calendar icon-margin-right"></i>Apr 2019 - Jun 2021</h6>
          <p class="info-text-black">Worked as a full stack developer. 
            Hands on experience on making Teambuilder, compensation and many more internal projects. 
            Tech used :  Asp.net as backend and Angular as front end, Sql as database.</p>
        </div>
      </div>

      <div class="resume-container-education grid-body icon-color">
        <h2 class="education-header-text text-grey"><i class="fa fa-certificate fa-fw icon-color icon-margin-right"></i>Education</h2>
        <div class="edu-container">
          <h5 class="edu-header text-grey info-opacity"><b>Heritage Institute of Technology</b></h5>
          <h6 class="edu-description"><i class="fa fa-calendar fa-fw icon-color icon-margin-right"></i>2014 - 2018</h6>
          <p class="info-text-black">B.Tech Degree in Biotechnology</p>
          <hr>
        </div>
        <div class="edu-container">
          <h5 class="edu-header text-grey info-opacity"><b>Howrah Vivekananda Institution</b></h5>
          <h6 class="edu-description"><i class="fa fa-calendar fa-fw icon-color icon-margin-right"></i>Mar 2014</h6>
          <p class="info-text-black">12th Degree</p>
          <hr>
        </div>
        <div class="edu-container">
          <h5 class="edu-header text-grey info-opacity"><b>Howrah Vivekananda Institution</b></h5>
          <h6 class="edu-description"><i class="fa fa-calendar fa-fw icon-color icon-margin-right"></i>Feb 2012</h6>
          <p class="info-text-black">10th Degree</p><br>
        </div>
      </div>


      <div class="resume-container-education grid-body icon-color">
        <h2 class="education-header-text text-grey"><i class="fa fa-certificate fa-fw icon-color icon-margin-right"></i>Award</h2>
        <div class="edu-container">
          <h6 class="edu-description"><i class="fa fa-calendar fa-fw icon-color icon-margin-right"></i>Nov 2021</h6>
          <p class="info-text-black">Infosys Insta Award 2021</p>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="resume-footer-container mt-auto col-md-12">
  <p class="footer-text">Find me on social media.</p>
  <a href="https://www.facebook.com/xenderisback/" class="fa fa-facebook fa-hover-element"></a>
  <a href="https://www.linkedin.com/in/suprotim007/" class="fa fa-linkedin fa-hover-element"></a>
  <a href="https://github.com/Xender007" class="fa fa-github fa-hover-element"></a>
  <a href="https://www.instagram.com/_xender007_/" class="fa fa-instagram fa-hover-element"></a>

</footer>

</body>
</html>
